body {
    background-color: #f4f1ea;
    color: #5a4e47;
    font-family: 'gil sans bold', sans-serif;
    background: url('/static/images/barn-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
}

.bp-top {
    background-position: top center;
}

.bp-bottom {
    background-position: bottom center;
}

/* Centers the checklist and add list button */
#listsContainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #a5572f;
    text-align: center;
}

/* Styling for the chores that have been marked as completed */
.completed {
    text-decoration: line-through;
}

/* Initial setup for chore items, though this will need JavaScript adjustments for dynamic images */
.chore-label {
    display: inline-block;
    padding-left: 110px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: left center;
}

/* Animation for when a chore is checked off */
@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.completed-animation {
    animation: pop 0.5s ease;
}

/* Layout for multiple checklists */
.checklists-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.checklist {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #c81217;
    /* barn red background */
    color: #ffffff;
    /* White text */
    border: 2px solid #5bc0de;
    /* Light blue border */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    /* Drop shadow */
}

/* Ensures that the list items do not have default bullet points */
.choreList {
    list-style-type: none;
    /* Removes bullet points */
    padding-left: 0;
    /* Adjust padding as needed */
}

/* Additional styling for input and button for better usability */
.choreInput,
.checklist button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #5a4e47;
    /* Grey border */
    background-color: #f4f1ea;
    /* Off-white background */
    cursor: pointer;
}

#addListButton {
    display: block;
    margin: 20px auto;
    /* Centers the button */
    padding: 10px 20px;
    background-color: #f4f1ea;
    color: #c81217;
    font-size: 40px;
    /* Larger, easy to click */

}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/static/images/barn-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /* Ensure it stays in the background */
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Prevent scrolling */
}