<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Chore To-Do List</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div id="listsContainer">
        <div class="checklist">
            <input type="text" placeholder="Enter a new chore..." class="choreInput">
            <button onclick="addChore(this)">Add Chore</button>
            <ul class="choreList"></ul>
        </div>
    </div>
    <button id="addListButton">+</button>

    <div id="listsContainer"></div>

    <script src="/static/script.js"></script>
</body>

</html>